pip>=24.0

fastapi==0.110.0
uvicorn==0.29.0

python-dotenv==1.0.1
firebase-admin==6.5.0

transformers==4.30.2
tokenizers==0.20.2

pyannote.audio==3.1.1
matplotlib==3.10.0

--only-binary :all:
pillow==11.2.1
